{% extends 'base.html.twig' %}


 {# {% block navbar %}
      <!-- Navigation -->


      <nav class="navbar navbar-expand-md navbar-dark fixed-top" id="mainNav" style="background-color: #343a40">
          <div class="container">

              <a class="navbar-brand js-scroll-trigger" href="#page-top">Chick Click</a>
              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                  Menu
                  <i class="fas fa-bars"></i>
              </button>
              <div class="collapse navbar-collapse" id="navbarResponsive" style="background-color: #343a40">
                  <ul class="navbar-nav text-uppercase ml-auto">
                      <li class="nav-item">
                          <a class="nav-link js-scroll-trigger" href="#services">HOME</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link js-scroll-trigger" href="{{ path('show_event') }}">EVENTS</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link js-scroll-trigger" href="#about">About</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link js-scroll-trigger" href="#team">Team</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>

                      </li>
                      {% if is_granted('ROLE_ADMIN')  %}
                          <li class="nav-item">
                              <a class="nav-link js-scroll-trigger" href="{{ path('admin_space') }}">MANAGE AS ADMIN</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link js-scroll-trigger" href="{{ path('fos_user_security_logout') }}">LOGOUT</a>
                          </li>

                      {% else %}
                          <li class="nav-item">
                              <a class="nav-link js-scroll-trigger" href="{{ path('fos_user_registration_register') }}">sing up</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link js-scroll-trigger" href="{{ path('fos_user_security_login') }}">sign in</a>
                          </li>




                      {% endif %}

                  </ul>
              </div>
          </div>

      </nav>
  {% endblock  %}#}




